#root {
	margin: 0; 
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh; 
	background-color: #eaeaea;
}

.list-container {
	background-color: white;
	max-height: 330px;
	width: 30vw;
	padding: 7%;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.add-list {
	text-align: center;
}

.input-list {
	display: inline-block;
}

.list-item-container {
	margin-top: 20px;
	overflow-y: auto;
	max-height: 180px;
}

.list-item {
	width: 100%;
	margin-bottom: 10px;
	border: solid 1px rgba(0, 0, 0, 0.06);
	padding: 5px;
}

.list-select {
	margin-top: 20px;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.list-container {
		width: 80vw;
	}
}

@media only screen and (max-width: 1200px) {
	.list-container {
		width: 80vw;
	}
}